<%- include('../includes/head.ejs')%>
</head>
<body>
<%- include('../includes/nav.ejs')%>
    <div class="container">
        <h1>Hello</h1>
    </div>
</body>
<%- include('../includes/footer.ejs') %>